/* 
	$Id$
	@file
*/

.gallery_list_view {
}

.gallery_list_entry {
	float:left;
	width:140px;
	text-align:center;
	margin:2px;
	height:120px;
	border:dotted 1px #FFFFFF;
	padding:10px;
	overflow:hidden;
}