/* 
	$Id$
	@file
*/

.gallery_album_view {
	position:relative;
	text-align:left;
	display: block;
	_width:100%;
	overflow:auto;
}

.gallery_album_entry {
	float:left;
	width:140px;
	text-align:center;
	margin:2px;
	height:120px;
	border:dotted 1px #FFFFFF;
	padding:10px;
	overflow:hidden;
	display: block;
}