/* 
	$Id$
	@file
*/

.gallery_list_block_entry {
	float:left;
	text-align:center;
	margin-bottom: 5px;
}

.gallery_list_block_entry_image {
	width:auto;
	text-align:center;
}

.gallery_list_block_entry_text {
	width:auto;
	text-align:center;
}